/* ImageGallery.css */

.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-item {
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .gallery-image {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.2s ease-in-out;
  }
  
  .gallery-item:hover .gallery-image {
    transform: scale(1.1);
  }
  